<br><br>
<div class="header">
  Adding new post
</div>
<div class="content">
  <div class="ui form">
    <div class="field">
      <label>Post Title</label>
      {{input type="text" cols="50" rows="1" value = title placeholder="add title"}}
    </div>
    <div class="field">
      <label>Post Body</label>
      {{textarea value=body cols="50" rows="3" placeholder="add body"}}
    </div>
  </div>
</div>
<br>

<button class="ui blue button" {{action "onApprove"}}>
  Save
</button>











