<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Our Blog</h2>
  <p>
    The Blog website is a common platform that provide much more fun to friends.
    This web application is built by Ember.js - a historically significant front end framework that used by coders.
  </p>
  <br><br>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
  <br><br>
  {{show-logo}}
  <br><br>
</div>