<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    If you have any question,<br>
    Please contact us with no doubt.
  </p>
  <address>

    <p>
      531 Mill Street<br>
      Windsor, ON. N9C 2R7
    </p>
    <a href="tel:226.280.8523">+1 (226) 280-8523</a><br>
    <a href="mailto:wang1ln@uwindsor.ca">wang1ln@uwindsor.ca</a>
  </address>
  <br><br>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>

